body {
  font-family: georgia, san-serif;
}
.page-wrapper {
  width: 100%;
}
header {
  margin: 0;
  padding-top: 10px;
  width: 137%;
  background: transparent url(img/green-background.jpg) no-repeat top left;
  background-position: center center;
  background-size: cover; 
  height: 200px;
  text-indent: 5%;
    line-height: 0.1em;

}

h3 {
	font: normal 1.8em georgia, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: #7D775C;

	}
a:link {
	font-weight: bold;
	text-decoration: none;
	color: #000;
	}
a:visited {
	font-weight: bold;
	text-decoration: none;
	color: purple;
	}
	a:active {
	text-decoration: underline;
	color: #0000ff;
	}
a:hover, a:focus {
	text-decoration: underline;
	color: #FF0000;
	}

aside {
background: transparent url(img/angular.png) no-repeat top left;
background-position: center center;
  background-size: cover;
	border-radius: 25px;
    width: 200px;

  position: absolute; right;
  width: 25%;
  height: 900px;
  display: inline-block;
  
  margin: 10px;
}
.sidebar {
float: right;

}

.sidebar li {

	list-style-type: none;
	}


.intro {
  float: center;
  width: 70%;
  background: #fff;
  clear: left;
  
}
.intro h1:first-child{
  color: black; font-size: 50px; 
}
.intro h2:last-child{
  color: #eee; font-style: italic; margin-bottom: 5px; font-size: 30px;
}

.summary {
    border-bottom: 4px solid #8AC007;

  margin-top: 10px;
 float: left;
  width: 100%;
  background: #eee;
  clear: left;
  
}
.summary p {

	font: italic 1.3em/1.2 georgia; bold;
	text-align: center;
}
.preamble {
  float: left;
  width: 100%;
  background: #fff;
  clear: left;
  
}
.supporting {
  float: left;
  width: 70%;
  background: #fff;
}

.explanation {
  float: left;
  width: 100%;
  background: #fff;
  clear: left;
  
}

.participation {
  float: left;
  width: 100%;
  background: #fff;
  clear: left;
  
}

.benefits {
  float: left;
  width: 100%;
  background: #fff;
  clear: left;
  
}
.requirements {
  float: left;
  width: 100%;
  background: #ddd;
  clear: left;
  
}

div.requirements p:last-child {
		font-size: 24px; color: #fff;
		background: transparent url(img/angular.png) no-repeat top left;
		background-position: center center;
		background-size: cover;
	    
			height: 100px;
	    width: 100%;
	}

	div.requirements p:last-child {
		font: italic 1.3em/2.2 georgia; bold; color: white;
	}



footer {
background: transparent url(img/farm-background.jpg) no-repeat top left;
	background-size: cover;
	background-position: center center;
clear: both;
width: 100%;
height: 100px;
text-align: center;

}
footer a:link, footer a:visited {
	color: #000; font-size: 20px;
	padding: 20px;
	}